<ng-container *ngIf="vm$ | async as vm">
    <div class="">
        <div class="flex justify-between items-center my-4">
            <h3 class="font-medium">
                Variant
            </h3>
            <div class="flex items-center gap-2">
                <button (click)="openVariantForm()" type="button"
                    class="font-medium bg-teal-500 text-white text-xs px-3.5 py-2 rounded-md">
                    Add
                </button>
                <button type="button"
                    class="font-medium border border-slate-300 text-slate-700 hover:bg-red-500 hover:text-white text-xs px-3.5 py-2 rounded-md">
                    Clear
                </button>
            </div>
        </div>
        <div class="rounded-lg overflow-hidden border-x border-slate-200">
            <table class="w-full text-sm text-left text-slate-500 table-auto min-w-max">
                <thead class="bg-slate-50 border-y border-slate-200">
                    <tr>
                        <th class="p-4 font-medium">
                            Color
                        </th>
                        <th class="p-4 font-medium">
                            Size
                        </th>
                        <th class="p-4 font-medium">
                            Quantity
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr app-variant-row *ngFor="let item of vm.currentVariants" [item]="item"></tr>
                </tbody>
            </table>
            <div *ngIf="!vm.items.length" class="w-full text-center border-b border-slate-200 py-2 text-slate-500">
                This product has no variant
            </div>
        </div>
    </div>
</ng-container>