<ng-container *ngIf="vm$ | async as vm">
  <div class="flex justify-center w-full">
    <div class="max-w-screen-sm w-full">
      <form
        [formGroup]="productForm"
        (submit)="onSubmit()"
        class="shadow-lg bg-white p-10 rounded-lg flex flex-col gap-4 text-slate-700 border-t-4 border-red-500"
      >
        <h1
          class="text-center mb-4 bg-clip-text text-transparent bg-gradient-to-tr from-red-500 to-orange-500 font-black text-3xl"
        >
          Shoe Form
        </h1>

        <div
          *ngIf="vm.isLoading"
          class="gap-2 flex flex-col justify-center items-center"
        >
          <img class="w-20" src="/loading.gif" alt="Loading" />
          <h3 class="text-xl uppercase font-bold text-slate-500">
            Wait a minute
          </h3>
          <p class="font-semibold text-slate-500">Fetching data...</p>
        </div>

        <ng-container *ngIf="!vm.isLoading">
          <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Name</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              placeholder="Type something"
              class="pb-2 focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label for="brand" class="font-semibold">Brand</label>
            <select
              name="brand"
              id="brand"
              formControlName="brand"
              class="py-2 focus:outline-none border-b border-slate-200 focus:border-2 focus:border-red-500 rounded-md"
            >
              <option *ngFor="let item of brands; index as i" [value]="i">
                {{ item }}
              </option>
            </select>
          </div>

          <div class="flex flex-col gap-2">
            <label for="description" class="font-semibold">Description</label>
            <textarea
              id="description"
              type="text"
              formControlName="description"
              placeholder="Type something"
              [rows]="1"
              class="pb-2 focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            >
            </textarea>
          </div>

          <div class="flex flex-col gap-2">
            <label for="weight" class="font-semibold">Weight</label>
            <input
              id="weight"
              type="number"
              formControlName="weight"
              placeholder="Type something"
              class="pb-2 focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label for="dateStock" class="font-semibold">Date stock</label>
            <input
              id="dateStock"
              type="date"
              formControlName="dateStock"
              class="pb-2 focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label for="price" class="font-semibold">Price</label>
            <input
              id="price"
              type="number"
              formControlName="price"
              placeholder="Type something"
              class="pb-2 focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <!-- Type -->
          <div
            class="flex items-center space-x-8 border-b border-slate-200 pb-4"
          >
            <h3 for="brand" class="font-semibold mr-4">Type</h3>

            <div
              *ngFor="let item of types; index as i"
              class="flex items-center gap-2"
            >
              <div class="relative h-5 w-5">
                <input
                  name="type_radio"
                  type="radio"
                  class="peer w-full h-full cursor-pointer forced-colors:appearance-auto appearance-none rounded-full border bg-slate-100 border-slate-300 checked:border-red-400 checked:border-2 transition-all"
                  id="item"
                  [checked]="type === i"
                  [value]="item"
                />
                <span
                  class="bg-red-500 w-2.5 h-2.5 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none rounded-full absolute opacity-0 peer-checked:opacity-100 transition-opacity duration-200"
                >
                </span>
              </div>
              <label for="item">{{ item }}</label>
            </div>
          </div>

          <!-- File -->
          <div class="flex flex-col gap-4">
            <div class="flex items-center justify-between">
              <h3 class="font-semibold">Image</h3>
              <button
                *ngIf="vm.currentItem?.images?.length"
                (click)="deleteAllImages()"
                type="button"
                class="font-medium border border-slate-300 text-slate-700 hover:bg-red-500 hover:text-white text-xs px-3.5 py-2 rounded-md"
              >
                Clear
              </button>
            </div>

            <div
              *ngIf="!images?.length"
              class="flex items-center justify-center w-full"
            >
              <label
                for="images"
                class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-5 hover:bg-gray-100"
              >
                <div
                  class="flex flex-col items-center justify-center pt-5 pb-6"
                >
                  <lucide-angular
                    [img]="CloudUpload"
                    class="my-icon w-8 h-8 mb-4 text-gray-500"
                  ></lucide-angular>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span> or drag
                    and drop
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG or GIF (MAX. 800x400px)
                  </p>
                </div>
                <input
                  id="images"
                  multiple
                  type="file"
                  accept="image/gif, image/jpeg, image/png, image/jpg"
                  class="hidden"
                  (change)="onFileSelected($event)"
                />
              </label>
            </div>

            <div *ngIf="images?.length" class="grid grid-cols-4 gap-4">
              <app-upload-file
                *ngFor="let item of images"
                [item]="item"
              ></app-upload-file>
            </div>
          </div>

          <!-- Table Variant -->
          <app-variant-table></app-variant-table>

          <!-- Is Show -->
          <div class="flex items-center justify-end gap-4">
            <label for="price" class="font-semibold order-last">Visible</label>

            <div class="w-5 h-5 relative">
              <input
                name="visible"
                type="checkbox"
                formControlName="visible"
                id="visible"
                [checked]="visible"
                class="forced-colors:appearance-auto appearance-none cursor-pointer w-full h-full bg-red-100 rounded border-none focus:ring-0 focus:ring-transparent checked:bg-emerald-500 transition-all duration-150 ease-in-out"
              />

              <lucide-angular
                [img]="Check"
                class="my-icon size-5 text-white absolute top-0 left-0 pointer-events-none"
                [ngClass]="visible ? 'block' : 'hidden'"
              ></lucide-angular>
            </div>
          </div>

          <!-- Main buttons -->
          <button
            type="submit"
            [disabled]="!productForm.valid"
            class="mt-4 text-white disabled:bg-slate-200 disabled:text-slate-500 bg-red-500 px-4 py-2 rounded-md font-semibold"
          >
            Submit
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</ng-container>
