<div class="flex justify-center w-full">
  <div class="max-w-md w-full">
    <form
      [formGroup]="productForm"
      (submit)="onSubmit()"
      class="shadow-lg p-10 rounded-lg flex flex-col gap-4 text-slate-700 border-t-4 border-red-500"
    >
      <h1
        class="text-center mb-4 bg-clip-text text-transparent bg-gradient-to-tr from-red-500 to-orange-500 font-black text-3xl"
      >
        Shoe Form
      </h1>

      <div class="flex flex-col gap-2">
        <label for="name" class="font-semibold">Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Type something"
          class="pb-2 focus:outline-none border-b border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="brand" class="font-semibold">Brand</label>
        <input
          id="brand"
          type="text"
          formControlName="brand"
          placeholder="Type something"
          class="pb-2 focus:outline-none border-b border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="price" class="font-semibold">Price</label>
        <input
          id="price"
          type="number"
          formControlName="price"
          placeholder="Type something"
          class="pb-2 focus:outline-none border-b border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
        />
      </div>

      <div formArrayName="variants">
        <div
          *ngFor="let item of variants.controls; let i = index"
          class="bg-gray-50 my-4 p-6 rounded-lg space-y-2"
          [formGroupName]="i"
        >
          <div class="flex justify-between items-center">
            <h3
              class="bg-slate-500 rounded-md text-white px-2 py-1 max-w-fit font-semibold text-xs"
            >
              Variant No.{{ i }}
            </h3>
            <button (click)="deleteVariant(i)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-6 text-slate-500"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>

          <div class="flex flex-col gap-2">
            <label for="color-{{ i }}" class="font-semibold">Color</label>
            <input
              id="color-{{ i }}"
              type="text"
              formControlName="color"
              placeholder="Type something"
              class="pb-2 bg-transparent focus:outline-none border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label for="size-{{ i }}" class="font-semibold">Size</label>
            <input
              id="size-{{ i }}"
              type="number"
              formControlName="size"
              placeholder="Type something"
              class="pb-2 bg-transparent focus:outline-none border-b border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label for="quantity-{{ i }}" class="font-semibold">Quantity</label>
            <input
              id="quantity-{{ i }}"
              type="number"
              formControlName="quantity"
              placeholder="Type something"
              class="pb-2 bg-transparent focus:outline-none border-b border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
            />
          </div>
        </div>

        <div class="flex justify-between items-center">
          <button
            (click)="addVariant()"
            class="bg-teal-500 text-white font-semibold text-xs px-4 py-2 rounded-full"
          >
            Add variant
          </button>

          <button
            (click)="deleteAllVariants()"
            class="bg-red-500 text-white font-semibold text-xs px-4 py-2 rounded-full"
          >
            Clear all
          </button>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!productForm.valid"
        class="mt-4 text-white disabled:bg-gray-400 bg-red-500 px-4 py-2 rounded-full font-semibold"
      >
        Submit
      </button>
    </form>
  </div>
</div>
