<ng-container *ngIf="vm$ | async as vm">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    <app-product-card
      *ngFor="let item of vm.items"
      [item]="item"
    ></app-product-card>
  </div>
</ng-container>
<button
  [routerLink]="['/admin/product/']"
  routerLinkActive="router-link-active"
  type="button"
  class="fixed group shadow-lg bottom-4 right-4 p-2 text-white bg-teal-500 rounded-full flex items-center gap-2"
>
  <lucide-angular [img]="Plus" class="my-icon w-6 h-6"></lucide-angular>
  <p class="font-medium pr-4 hidden group-hover:block">Add product</p>
</button>
