<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.isEditVariant" class="fixed inset-0">
    <div class="relative w-full min-h-screen flex justify-center items-center">
      <div
        (click)="closeForm()"
        class="absolute z-10 top-0 left-0 bg-black opacity-50 blur-sm w-full h-full"
      ></div>

      <form
        [formGroup]="variantForm"
        (submit)="onSubmit()"
        class="relative z-50 space-y-4 bg-white shadow-lg rounded-lg max-w-lg w-full p-8"
      >
        <div class="flex justify-between items-center">
          <h3
            class="bg-slate-500 rounded-md text-white px-2 py-1 max-w-fit font-semibold text-lg"
          >
            Variant
          </h3>
          <button type="button" (click)="closeForm()">
            <lucide-angular
              [img]="X"
              class="my-icon text-slate-500"
            ></lucide-angular>
          </button>
        </div>

        <div class="flex flex-col gap-2">
          <label for="color" class="font-semibold">Color</label>
          <div class="flex items-center gap-4">
            <input
              type="color"
              class="p-1 h-10 w-14 block bg-slate-100 border border-gray-200 cursor-pointer rounded-lg"
              id="hs-color-input"
              formControlName="color"
              value="#2563eb"
            />
            <p class="text-slate-700">
              Current color:
              <span
                class="mx-2 text xs px-2 py-1 bg-slate-200 rounded-md"
                [ngStyle]="{ color: color }"
              >
                {{ color }}
              </span>
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <label for="size" class="font-semibold">Size</label>
          <select
            name="size"
            id="size"
            formControlName="size"
            class="py-2 focus:outline-none border-b border-slate-200 focus:border-2 focus:border-red-500 rounded-md"
          >
            <option *ngFor="let item of sizes; index as i" [value]="i">
              {{ item }}
            </option>
          </select>
        </div>

        <div class="flex flex-col gap-2">
          <label for="quantity" class="font-semibold">Quantity</label>
          <input
            id="quantity"
            type="number"
            formControlName="quantity"
            placeholder="Type something"
            class="pb-2 bg-transparent focus:outline-none border-b focus:border-b-2 border-slate-200 focus:border-red-500 transition duration-100 ease-in-out"
          />
        </div>

        <div class="pt-4 flex justify-end items-center gap-4">
          <button
            type="submit"
            class="bg-teal-500 text-white font-semibold px-4 py-2 rounded-full"
          >
            {{ vm.currentVariantId ? "Update" : "Add" }}
          </button>

          <button
            type="button"
            (click)="closeForm()"
            class="bg-slate-500 text-white font-semibold px-4 py-2 rounded-full"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
